# Copie ce fichier en ".env.local" (déjà ignoré par git) et remplis les valeurs
# trouvées dans Supabase > Settings > API

VITE_SUPABASE_URL=https://lueeshpyuczddjlyjqxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1ZWVzaHB5dWN6ZGRqbHlqcXh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2Njk0NDAsImV4cCI6MjA5OTI0NTQ0MH0.l5mpBO7jqPDlixTcbiAkwxJXfe9-_Dtk8jCQjnPSAbI